################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chap03_BookExamplesPROJ/v16/Server/sqlite3
